.square {
  float: left;
  width: 30%;
  height: 0;
  padding-bottom: 30%;
  background-color: lime;
  margin: 1%;
  border-radius: 25%;
  border: solid white;
}
.container {
  width: 600px;
  margin: 0 auto;
}
body {
  background-color: #232323;
}
h1 {
  letter-spacing: 2px;
  font-family: 'Playfair Display SC', serif;
  text-align: center;
  border: solid white;
  border-radius: 20px;
  margin: 1%;
  margin-right: 35%;
  margin-left: 35%;
  padding: 1%;
  color: white;
  background-color: black;
}
.h1Square{
  
}
#message {
font-size: medium;
display: inline-block;  /* MESSAGE IN SCREEN WHEN USER SELECT A COLOR*/
text-decoration: underline;
}
.resetBtn{
 display: inline-block; /*  CUSTOM BOTTON RESET */

}
.resetBtn:hover{        /* CHANGE MOUSE POINTER*/
  cursor: pointer;
}
.hardMode{   /*  CUSTOM BOTTON HARD MODE */
 display: inline-block;
}
.hardertBtn:hover{
  cursor: pointer;
}

#colorDisplay{
background-color: #232323;
border-radius: 20px;
padding: 2%;
border: solid;
letter-spacing: 4px;
}
