.square {
  float: left;
  width: 30%;
  padding-bottom: 30%;
  margin: 0.5%;
  border-radius: 25%;
  border: solid black 0.8ch;
}
.container {
  width: 600px;
  margin: 0 auto;
}
body {
  background-color: #232323;
}
h1 {
  width: 35%;
  letter-spacing: 2px;
  font-family: 'Playfair Display SC', serif;
  text-align: center;
  border: solid white 0.4ch;
  border-radius: 20px;
  margin: 1%;
  margin-left: 30%;
  padding: 1%;
  color: white;
  background-color: black;
}
#message {
font-size: medium;
display: inline-block;  /* MESSAGE IN SCREEN WHEN USER SELECT A COLOR*/
text-decoration: underline;
}
.resetBtn{
 display: inline-block; /*  CUSTOM BOTTON RESET */
 border-radius: 20px;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.resetBtn:hover{        /* CHANGE MOUSE POINTER*/
  cursor: pointer;
}
.hardMode{   /*  CUSTOM BOTTON HARD MODE */
 display: inline-block;
 border-radius: 20px;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.hardertBtn:hover{
  cursor: pointer;
}

#colorDisplay{
background-color: #232323;
border-radius: 20px;
padding: 2%;
border: solid;
letter-spacing: 4px;
}
